{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container auth_container">
    <div class="row">
      <div class="col-12 centered">
          <div class="auth_form_wrapper">
            <div class="row">
              <div class="col-6 d-md-block d-none">
                <!-- Vector -->
                <div class="auth_vector_wrapper">
                  <img src="{{MEDIA_URL}}auth_vector_3.jpg" alt="Vector graphic of someone helping another keep dry."
                  width="350" height="350" class="auth_vector">
                </div>
              </div>
                    <div class="col-12 col-md-6">
                      <h1 class="large_text primary_font">{% trans "Password Reset" %}</h1>
                        <p class="secondary_font small_text reset_password_button">{% trans "Enter your email address below</br>and we'll send you a link to reset</br> your password." %}</p>
                      {% if user.is_authenticated %}
                      {% include "account/snippets/already_logged_in.html" %}
                      {% endif %}
                      <!-- Form -->
                      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="primaryAction btn auth_btn secondary_font white_font reset_password_button" type="submit" value="{% trans 'Reset My Password' %}" />
                    </form>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
